/.git
/.deployed_cache
/.yolk_git
/eggs/nushell/history.txt
/**/*.log
/eggs/clipse/clipboard_history.json
/eggs/clipse/tmp_files
/eggs/mpd/mpd.log
/eggs/mpd/mpd.state
/eggs/mpd/playlist
/eggs/mpd/sticker.sql
/eggs/mpd/database
