/* {# replace_re(`rgba\(.*\)`, hex_to_hext(theme.colors.obackground, "0.56")) #} */
$background: rgba(34, 36, 54, 0.56);
/* {# replace_re(`rgba\(.*\)`, hex_to_hext(theme.colors.white, "0.1")) #} */
$hover: rgba(130, 139, 184, 0.1);
/* {# replace_between(` `, `;`, theme.colors.white) #} */
$white: #828bb8;
/* {# replace_between(` `, `;`, theme.colors.green) #} */
$green: #c3e88d;
/* {# replace_between(` `, `;`, theme.colors.black) #} */
$black: #1b1d2b;
/* {# replace_between(` `, `;`, theme.colors.cyan) #} */
$mark: #86e1fc;

$radius4: 4px;
$radius8: 8px;
$radiusfull: 100%;

$distance6: 6px;
$distance12: 12px;

@mixin transparent {
  background: transparent;
}

