/* {# replace_re(`rgba\(.*\)`, hex_to_hext(theme.colors.background, "0.56")) #} */
$background: rgba(30, 30, 46, 0.56);
/* {# replace_re(`rgba\(.*\)`, hex_to_hext(theme.colors.white, "0.1")) #} */
$hover: rgba(186, 194, 222, 0.1);
/* {# replace_between(` `, `;`, theme.colors.white) #} */
$white: #bac2de;
/* {# replace_between(` `, `;`, theme.colors.green) #} */
$green: #a6e3a1;
/* {# replace_between(` `, `;`, theme.colors.black) #} */
$black: #45475a;
/* {# replace_between(` `, `;`, theme.colors.cyan) #} */
$mark: #94e2d5;

$radius4: 4px;
$radius8: 8px;
$radiusfull: 100%;

$distance6: 6px;
$distance12: 12px;

@mixin transparent {
  background: transparent;
}

