// .calendar {
  // border-radius: $radius8;
  // background: $background
// }

.calendarbox {
  border-radius: $radius8;
  background: $background;
  padding: $distance12 $distance12 0 $distance12;
}

.timeweek {
  padding: 0 $distance12;
}

.texttime {
  font-family: TypoGraphica;
  font-size: 56px;
  font-weight: bold;
  color: $white;
}

.textweek {
  font-family: TypoGraphica;
  font-size: 56px;
  font-weight: bold;
  color: $white;
}

.textdaybox {
  margin-bottom: 6px;
}

.textday {
  font-family: TypoGraphica;
  font-size: 30px;
  color: $black;
  border-radius: 100%;
  background: $cyan;
}

.textmonth {
  font-family: TypoGraphica;
  font-size: 18px;
  color: $cyan;
}

.textdaynext {
  font-family: TypoGraphica;
  font-size: 18px;
  color: $grey;
}

.cal-inner-box {
  font-size: 1em;
  font-family: TypoGraphica;
}

calendar {
  padding-bottom: $distance6;
  &:selected {
    color: $black;
    background-repeat: no-repeat;
    background-position: center 0px;
    background-image: url("/home/zwind/.config/eww/icons/circle.svg");
  }
  &:indeterminate {
    color: $darkgrey;
  }
}

calendar.header {
  color: $white;
}

calendar.highlight {
  color: $cyan;
}
