spawn-sh-at-startup "wpaperd -d"
spawn-sh-at-startup "swaybg -i ~/background/img/back3.png"
// spawn-sh-at-startup "lianwall start"
spawn-sh-at-startup "clipse -listen"
spawn-at-startup "eww-niriipc"
spawn-sh-at-startup "eww daemon && eww open bar && eww-volume getinitvol"
spawn-sh-at-startup "fcitx5 -d && fcitx5_tray"
spawn-at-startup "mpd"
spawn-at-startup "veilad"
spawn-at-startup "/usr/lib/mate-polkit/polkit-mate-authentication-agent-1"
