include optional=true "autostart.kdl"
include optional=true "layer-rule.kdl"
include optional=true "window-rule.kdl"
include optional=true "keymaps.kdl"
screenshot-path "~/screenshots/%F-%T.png"
prefer-no-csd
hotkey-overlay {
    skip-at-startup
}
xwayland-satellite {
    off
}
config-notification {
  disable-failed
}
gestures {
    hot-corners {
        off
    }
}
cursor {
    xcursor-theme "phinger-cursors-light"
    xcursor-size 24
}
input {
    keyboard {
        numlock
    }
    mouse {
        accel-speed -0.6
        accel-profile "adaptive"
    }
    mod-key "Super"
    mod-key-nested "Alt"
    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="0%"
}
recent-windows {
    debounce-ms 50
    open-delay-ms 50
    highlight {
        // {# replace_quoted(theme.colors.cyan) #}
        active-color "#29a298"
        padding 6
        corner-radius 8
    }
    previews {
        max-height 480
        max-scale 0.5
    }
    binds {
        Mod+Period {
            next-window scope="workspace"
        }
        Mod+Comma {
            previous-window scope="workspace"
        }
        Mod+Shift+Period {
            next-window filter="app-id"
        }
        Mod+Shift+Comma {
            previous-window filter="app-id"
        }
    }
}
layout {
    gaps 6
    struts {
        left 0
        right 0
        top 0
        bottom -6
    }
    // center-focused-column "never"
    // center-focused-column "always"
    // center-focused-column "on-overflow"
    always-center-single-column
    focus-ring {
        off
        width 2
        // {# replace_quoted(theme.colors.cyan) #}
        active-color "#29a298"
        inactive-color "#505050"
    }
    border {
        off
    }
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }
    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }
    shadow {
        on
        softness 8
        offset x=0 y=0
        // {# replace_niri_shadow(theme.colors.cyan) #}
        color "#29a298ff"
        inactive-color "#a2929800"
    }
}
overview {
    zoom 0.69
}
blur {
    // off
    passes 3
    offset 3.7
    noise 0.02
    // saturation 1.0
}
debug {

}

