layer-rule {
    match namespace="wallpaper"
    place-within-backdrop true
}
layer-rule {
    match namespace="bar-right-slide"
    geometry-corner-radius 8
    background-effect {
        blur true
        xray true
    }
}
layer-rule {
    match namespace="bar-center-popin"
    geometry-corner-radius 8
    background-effect {
        blur true
        xray true
    }
}
layer-rule {
    match namespace="notifications"
    geometry-corner-radius 8
    background-effect {
        blur true
        xray false
    }
}
