// spawn-sh-at-startup "~/app/wallpaper/swaybg -i ~/background/backdrop.jpg"
// spawn-sh-at-startup "wpaperd -d"
spawn-sh-at-startup "lianwall start"
spawn-sh-at-startup "clipse -listen"
spawn-sh-at-startup "eww-niriipc"
spawn-sh-at-startup "eww daemon && eww open bar && eww-volume getinitvol"
spawn-sh-at-startup "fcitx5 -d && fcitx5_tray"
spawn-at-startup "mpd"
spawn-at-startup "veilad"
